# Go
*.exe
*.out
*.test

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Runtime files
*.log

# Local data
products.xlsx

# Generated images
images_processed/
images/

# Temporary
tmp/

# private
/products.xlsx
~$products.xlsx
